.verify-answer {
    color: lightgray;
}

.verify-answer:hover {
    color: green;
}

input.answer-correct {
    border: 3px solid lightgreen;
}

input.answer-incorrect {
    border: 3px solid orange;
}

input.answer-unvalidated {
    border: 3px solid lightgray;
}

.hidden {
    display: none;
}

.answer-input {
}

#exercises {
}

.validate-answer.correct {
    color: limegreen;
}

.validate-answer.incorrect {
    color: red;
}

#hint-modal {
    height: auto; 
    width; 300px;
    margin: 10px 0px;
    padding: 10px;
    background: orange;
}
#hint-modal::before {
    content: 'HINT: ';
    font-weight: bold;
}
