html {
    font-family: sans-serif;
    background: whitesmoke;
}

html, body {
    margin: 0;
    padding: 0;
}

html, body, * {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: black;
}

.mission a:not(.enter-book) {
    transition: ease 0.2s background;
    padding: 2px;
    border-bottom: 2px solid lightgray;
}
.mission a:not(.enter-book):hover {
    background: #ff9d9d;
}

div.breadcrumbs > a.active {
    color: black;
}

div.breadcrumbs > a {
    white-space: nowrap;
}

div.breadcrumbs > a.inactive {
    color: lightgray;
}

.right-arrow {
    color: lightgray;
}

section > * {
    text-align: center;
}

section > *,
header,
.title {
    text-align: center;
}

header.title {
    width: 100%;
    text-align: center;
    position: relative;
}

header.title > ul.links {
    width: 100%;
    padding: 0;
    text-align: left;
}
header.title > ul.links > li.link {
    text-align: left;
    padding: 20px;
    display: inline-block;
}
header.title > ul.links > li.link > a {
    font-size: 4em;
}

.book-title {
    margin-top: 80px;
    margin-bottom: 80px;
}

#carousel {
    background: white;
    padding: 75px 50px;
}

#carousel > img {
    width: 60%;
}

.carousel-container {
    width: 70%;
    margin: 0 auto;
    display: none;
}

.carousel-container > img {
    width: 100%;
}
.carousel-container.active {

    display: block;
    text-decoration: underline;
}

section.mission {
    width: 50%;
    margin: 0 auto;
    line-height: 1.5em;
    text-align: center;
}
section.mission > * {
    text-align: left;
}
a.enter-book {
    background: lightgray;
    padding: 40px;
    border-radius: 50%;
    margin: 0 auto;
    text-align: center;
    font-size: 4em;
}

.breadcrumbs {
    overflow-x: scroll;
    max-width: 100%;
    background: white;
    padding: 20px;
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.breadcrumbs > a {
    padding-right: 20px;
}
.breadcrumbs > .right-arrow {
    padding-right: 20px;
}

footer {
    width: 100%;
    text-align: center;
}
