{% macro exercises(problems) -%}
<h1>Chapter {{chapter_number}} Exercises</h1>

{% for title in problems %}
<div data-problem-number="{{ loop.index }}" class="exercise">
    <h2>{{ loop.index }} - {{ title }}</h2>
    <h3>{{ problems[title]['instructions'] }}</h3>
    <pre>
        <code>{{ problems[title]['code'] }}</code>
    </pre>
    <input class="answer-input" type="text" />
    <button data-guess-count="0" id="{{loop.index - 1}}" class="validate-answer fa fa-check"></button>
    <span class="answers hidden">{{ problems[title]['answers'] | tojson }}</span>
    {% if problems[title]['hints'] %}
    <span class="hints hidden">{{ problems[title]['hints'] | tojson }}</span>
    {% endif %}
    <div class="hidden" id="hint-modal"></div>
</div>
{% endfor %}

{%- endmacro %}
