<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/pygments.css')}}">
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css')}}">
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/page.css')}}">
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/code.css')}}">
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/exercises.css')}}">
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/fontawesome/css/font-awesome.min.css')}}">
    </head>
    <body>
        {% block nav %}{% endblock %}
        {% block body %}{% endblock %}
        <footer>© Copyright 2017 by Alex Ramsdell.</footer>
        <script type="text/javascript">
            const appData = {{ app_data }};
        </script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/keynav.js') }}"></script>
        <script type="text/javascript" src="{{url_for('static',filename='js/store.js')}}"></script>
        <script type="text/javascript" src="{{url_for('static',filename='js/app.js')}}"></script>
        {% block scripts %}{% endblock %}
    </body>
</html>
