{% extends "base.html" %}
{% from 'macros/breadcrumbs.html' import breadcrumbs %}

{% block body %}
<section id="carousel">
    <div class="carousel-container active">
        <img src="{{url_for('static',filename='img/fun1.png') }}" />
    </div>
    <div class="carousel-container">
        <img src="{{url_for('static',filename='img/fun2.png') }}" />
    </div>
    <div class="carousel-container">
        <img src="{{url_for('static',filename='img/fun3.png') }}" />
    </div>
</section>

<h1 class="title">Learn Python!</h1>

{{ breadcrumbs(chapter_names) }}

<section class="about">
    <p></p>
</section>
{% endblock %}


{% block scripts %}
<script type="text/javascript" src="{{url_for('static',filename='js/carousel.js')}}"></script>
{% endblock %}
