{% extends "base.html" %}
{% from 'macros/breadcrumbs.html' import breadcrumbs %}
{% from 'macros/exercises.html' import exercises %}

{% block nav %}
{{ breadcrumbs(chapter_names) }}
{% endblock %}

{% block body %}
<h1>{{ chapter.chapter_name }}</h1>
<p>{{ chapter.tutorial | markdown }}</p>
{% if chapter.exercises %}
<div id="exercises">{{  exercises(chapter.exercises['exercises']) }}</div>
{% endif %}
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{{url_for('static', filename='js/exercises.js')}}"></script>
{% endblock %}
